 <!--  Video de entrada  -->
<div class="portada ">
    <img src="../../assets/img/tec-entrada.jpg" alt="Entrada Tecnologico">
</div>

<div class="text-center">
    <h1 class="titulo">{{titulo}}</h1>
</div>
<aside class="anuncio-bloque">
    <div class="container">
        <div class="anuncio-titulo">
            <h2>Anuncios!</h2>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide "
            data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
                <button type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/img/congreso1.jpg" class="d-block
                        w-100" alt="Congreso 1">
                    <div class="carousel-caption d-none d-md-block"
                        style="background-color: rgba(0, 0, 0, 0.315);">
                        <h5>VI Congreso Institucional de Taller de Investigación
                            y Residencias Profesionales</h5>
                        <a class="text-white"
                            href="http://chetumal.tecnm.mx/index.php/noticias-tec/526-vi-congreso-institucional-de-taller-de-investigacion-y-residencias-profesionales">Ver
                            mas.</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/anuncio2.jpeg" class="d-block
                        w-100" alt="Anuncio 2">
                        <div class="carousel-caption d-none d-md-block"
                        style="background-color: rgba(0, 0, 0, 0.315);">
                        <h5>VI Congreso Institucional de Taller de Investigación
                            y Residencias Profesionales</h5>
                        <a class="text-white"
                            href="http://chetumal.tecnm.mx/index.php/noticias-tec/526-vi-congreso-institucional-de-taller-de-investigacion-y-residencias-profesionales">Ver
                            mas.</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/anuncio3.jpeg" class="d-block
                        w-100" alt="Anuncio 3">
                        <div class="carousel-caption d-none d-md-block"
                        style="background-color: rgba(0, 0, 0, 0.315);">
                        <h5>VI Congreso Institucional de Taller de Investigación
                            y Residencias Profesionales</h5>
                        <a class="text-white"
                            href="http://chetumal.tecnm.mx/index.php/noticias-tec/526-vi-congreso-institucional-de-taller-de-investigacion-y-residencias-profesionales">Ver
                            mas.</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="simpo text-center mt-4">
            <a href="/entrada-simposium" class="text-white h5 ">Ver conferencias!</a>
        </div>
    </div>
</aside>
<button routerLink="/entrando" class="boton-entrar" id="entrar">
    Entrar <i class="fa-sharp fa-solid fa-door-open"></i>
</button>
<a href="http://itchetumal.edu.mx/">
    <button class="boton-informacion">
        Informacion <i class="fa-solid fa-circle-info"></i>
    </button>
</a>

