<video autoplay muted (ended) = mostrarContenido()
    src="../../assets/videos/aula1-entrada.mp4">No se puede reproducir el video</video>
<div [style.visibility] = displayContenido>
    <button routerLink="/sala1-conferencia" class="boton-general boton-entrada" id="anexo">Entrar <i
            class="fa-solid fa-right-to-bracket icon"></i></button>
    <button routerLink="/entrando" class="boton-general boton-regresar-menu"
        id="anexo">Regresar <i class="fa-solid fa-right-to-bracket icon"></i></button>
    <button routerLink="/entrada" class="boton-general boton-regresar-entrada"
        id="anexo">Ir a Inicio <i class="fa-solid fa-right-to-bracket icon"></i></button>
</div>